body {
    background-color: cornflowerblue;
}

#score {
    font-size: 25px;
    margin-left: 1px;
}

#timer {
    float: right;
    margin-right: 30px;
    font-size: 25px;
}

#sketchdrawn {
    color: darkcyan;
    font-size: 35px;
}

#confidence {
    font-size: 30px;
}

#sketchguess {
    font-size: 30px;
}